// css footer
.footer {
  &__teach,
  &__companies,
  &__menu {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    background: $black-cl;
    color: $white-cl;
    border-top: 1px solid #3e4143;
    .footer-p-el {
      @include text(var(--h5-fs), pp5, var(--h5-lh), none, none);
      .highlight-test {
        @include text(var(--h5-fs), pp5, var(--h5-lh), $purple-cl, none);
      }
    }
  }
  &__teach {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
  &__companies {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    .logo-companies {
      ul {
        align-items: center;
        .logo-companies-item {
          margin: 1.2rem 0;
          margin-right: 2.4rem;
          &.last-logo-item {
            margin-right: 0px;
          }
        }
      }
    }
  }
  &__menu {
    .menu__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 2.4rem;
      grid-template-columns: repeat(2, 1fr);
      &__items {
        -moz-column-count: 3;
        -moz-column-gap: 20px;
        -webkit-column-count: 3;
        -webkit-column-gap: 20px;
        column-count: 3;
        column-gap: 100px;
        a {
          color: $white-cl;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .primary-button {
        svg {
          margin-right: 0.5rem;
        }
      }
    }
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.4rem 0 3.2rem;
    .footer__content__logo {
      font-family: pp7;
      font-size: 3rem;
      font-weight: bold;
      text-decoration: none;
      color: $white-cl;
    }
  }
}
